*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: 20px;
}
body{
    background-color: blueviolet;
}

ul li{
    text-decoration: none;
}
.marcas{
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 24px;
    padding: 3px;
}


